@import './global.scss';

.container-geral-main{
    display: flex;
    margin-top: $standar-size * 5;
    justify-content: space-between;
    @media (max-width: 1200px){
        flex-direction: column;
        align-items: center;
    }

}

.container-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: $standar-size * 11.5;    
    width: 60%;

    @media (max-width: 1500px){
        display: flex;
        justify-content: space-around;       

    }
    @media (max-width: 1200px){
        display: flex;
        flex-wrap: nowrap;  
        justify-content: flex-start;  
        align-items: center;      
        overflow-x: auto;
        scroll-behavior: smooth;
        width: 80%;        
        flex: none; 
        height: $standar-size *38;
        margin-left: 0;

    
    }
}
.container-card-product{
    width: 100%;
    max-width: $standar-size * 30;
    height: $standar-size * 34.6;
    border: 2px solid $color-grey-20;   
    display: flex; 
    flex-direction: column;
    align-items: center;
    transition: transform 100ms ease-in-out;

    &:hover{
        transform: scale(1.01);
        border: 2px solid $color-grey-100;
        transition: all 200ms ease-out; 

    }
    &:nth-child(n+4){
        margin-top: 30px;
        
    }

        @media (max-width: 1500px){
            &:nth-child(n+3){
                margin-top: 30px;
                
            }       
    
        }
        @media (max-width: 1200px){
            flex: none; 
            max-width: $standar-size * 25;
                       
            
            transition: none;
            
                    
            &:nth-child(n+3){
                margin-top: 0px;
            }
            &:nth-child(n+6){
                margin-right:$standar-size * 2 ;
            }  
            &:nth-child(n+2){
                margin-left:$standar-size * 2 ;
            }  
            
            &:hover{
                transform: scale(1);
            }
    
        }

    
}

.container-img{    
    
    background-color: $color-grey-0;
    width: 100%;
    max-width: $standar-size * 29.6;
    text-align: center;
    img{
        object-fit: cover;
        max-height: $standar-size * 16;
    }
}

.container-geral-description{

    margin-top: $standar-size * 2;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: $standar-size * 26;
    ul{
        height: $standar-size * 13;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;

    }
    

    .description-name{
        h2{
            font-size: $standar-size * 1.8;
            font-weight: 700;
            color: $color-grey-100;
        }        
    }
    .description-category{
        p{
            font-size: $standar-size * 1.2;
            font-weight: 400;
            color: $color-grey-50;
        }
    }
    .description-price{
       p{
        font-size: $standar-size * 1.4;
        font-weight: 600;
        color: $color-primary;
       }
    }
    @media (max-width: 1200px){        
        margin-left: $standar-size;
               
    }
}







