/*Reset*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:'Inter',sans-serif;
}

/* Colors*/ 

    /*Primary Palette*/

$color-primary:#27AE60;
$color-primary-50:#93D7AF;
$color-secondary:#EB5757;

    /*Grey Scale Palette*/

$color-grey-100:#333333;
$color-grey-50: #828282;
$color-grey-20:#E0E0E0;
$color-grey-0:#F5F5F5;

    /*FeedBack Palette*/

$color-negative:#E60000;
$color-warning:#FFCD07;
$color-sucess:#168821;
$color-information:#155BCB;

/*Font*/

    /*Inter*/

$font-family: 'Inter',sans-serif;

/*Size*/

    /*Standar Size*/
$standar-size:10px;