@import './global.scss';

.container-header{
    width: 100%;
    height: $standar-size * 8;
    background-color: $color-grey-0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-title{
        margin-left: $standar-size * 11.5;
        width: $standar-size * 15.9;
        cursor: pointer;


        h1{
            height: $standar-size * 3.7;
            color: $color-grey-100;
            font-size: $standar-size * 2.6;
            font-weight: 700;

            span{
                color: $color-secondary;
                font-size: $standar-size * 1.4;
                margin-left: $standar-size - 5px;

            }

        }
    }  

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: $standar-size * 13.9;
        justify-content: space-evenly;

        .container-title{
            margin-left: 0;

        }
        
    }  
     
    
}

.container-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff ;
    height: $standar-size * 6;
    width: $standar-size * 36.5;
    padding: 0px 10px 0px 15px;
    border: 2px solid $color-grey-20;
    border-radius: $standar-size - 2;
    margin-right: $standar-size * 11.5;
    

    &:focus-within{
        border: 2px solid $color-grey-100;;
        transition: all 500ms ease-out; 
        border-top: 2px solid $color-grey-100;
        border-bottom: 2px solid $color-grey-100;       
        
    } 

    
    
    input {
        color: $color-grey-100;
        width: $standar-size * 12.3;
        height: $standar-size * 5;
        font-size: $standar-size * 1.6;  
        

        &:invalid{
            animation: shake 200ms;
            color: $color-negative;
        }

        &:focus{
            outline: 0;              
            transition: all 500ms ease-out;         
        }
             
    }
    
    @media screen and (max-width: 768px) {
        margin-right: 0;
        width: 100%;
        max-width:$standar-size * 36.5;    
    }
   
}

@keyframes shake {
    25% { transform:translateX(4px);}
    50% { transform:translateX(-5px);}
    100%{ transform:translateX(4px);}
}



